<h1>Editando palestra</h1>

<%= render "form", palestra: @palestra %>

<br>

<div>
  <%= link_to "Exibir", @palestra, class: "btn btn-info" %> |
  <%= link_to "Voltar", palestras_path, class: "btn btn-info" %>
</div>
