<h1>Arquivo Palestras</h1>
<%= form_with url: palestras_upload_palestras_path, multipart: true do |form| %>
    <input type="file" name="arquivo" accept="application/json">
    <button>Enviar Arquivo</button>
<% end %>
<br>
<div>
  <%= link_to "Voltar", palestras_path, class: "btn btn-info" %>
</div>
